@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts/Inter/style.css");
@import url("../fonts/Roboto/style.css");

body {
  @apply font-inter text-9xl lg:text-10xl leading-[1.6em] font-normal text-gray-700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.filter-gray {
  filter: grayscale(1);
}
