@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts/Inter/style.css");
@import url("../fonts/Roboto/style.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply font-inter text-9xl font-normal text-gray-700;
}

@media screen and (min-width: 992px) {
  body {
    @apply text-[16px] leading-[1.6em];
  }
}

html {
  scroll-behavior: smooth;
}
.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
